* body {
  width: 100%;
  height: auto;
  background-color: rgb(230, 182, 127);
}

.grid_container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr; /* Two equal columns */
}
.grid_container2 {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr; /* Two equal columns */
}
.forsidetext {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.396);
  text-align: center;
  font-size: 500%;
  border: 2px solid #fff; /* Set the border width and color */
  box-shadow: 0 0 5px #fff, /* White glow */ 0 0 10px #fff,
    /* Larger white glow */ 0 0 15px #ff9500,
    /* Orange outer glow */ 0 0 20px #ffb700,
    /* Larger orange glow */ 0 0 25px #ff7b00,
    /* Even larger orange glow */ 0 0 30px #ff4d00; /* Faintest orange glow */
  white-space: nowrap; /* Prevent text from wrapping */
}

.taltext {
  color: #ff4d00;
}

.grid_1,
.grid_2,
.grid_3 {
  display: grid;
  color: rgba(255, 119, 0, 0);
  margin: 5%;
  padding-bottom: 5%;
  padding: 20px;
  border: 2px solid #000;
  background-color: rgba(255, 255, 255, 0.566);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-shadow: 0 0 5px #fff, /* White glow */ 0 0 10px #fff,
    /* Larger white glow */ 0 0 15px #ff9500,
    /* Orange outer glow */ 0 0 20px #ffb700,
    /* Larger orange glow */ 0 0 25px #ff7b00,
    /* Even larger orange glow */ 0 0 30px #ff4d00;
  text-transform: uppercase;
}

.grid_1_1,
.grid_2_2,
.grid_3_3 {
  display: grid;
  margin: 5%;
  color: rgba(255, 119, 0, 0);
  text-align: center;
  padding-bottom: 5%;
  padding: 20px;
  border: 2px solid #000;
  background-color: rgba(255, 255, 255, 0.497);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px #fff, /* White glow */ 0 0 10px #fff,
    /* Larger white glow */ 0 0 15px #ff9500,
    /* Orange outer glow */ 0 0 20px #ffb700,
    /* Larger orange glow */ 0 0 25px #ff7b00,
    /* Even larger orange glow */ 0 0 30px #ff4d00;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-size: x-large;
  color: rgb(10, 9, 9);
  background-color: var(--cat-background-color);
}

@media screen and (max-width: 570px) {
  .about-me {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 5%;
  }

  .image-container {
    margin-bottom: 5%;
  }

  .description {
    margin: 5%;
  }
}

footer {
  background-color: rgba(233, 105, 7, 0.609);
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5%;
}
